<!DOCTYPE html>
<html lang="pt-br" ng-app="listGithub">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title> Listagem de Repositórios do Github </title>
        <link rel="stylesheet" href="css/min/styles.min.css">
        <base href="/">
    </head>
    <body ng-controller="ListRepositories"> 

        <!-- container -->       
        <section class="container">

            <!-- principal -->       
            <main id="listRepositoriesGithub" class="list-repositories" role="main">

                <!-- titulo principal -->
                <h1 class="list-repositories__title">
                     Repositórios
                </h1>

                <!-- buscar repositorios -->
                <div class="list-repositories__search">
                    <input type="text" class="list-repositories__input" ng-model="filterRepositories" placeholder="Buscar por nome do repositório">
                    <button class="list-repositories__button-search"></button>
                </div>
            
                <!-- lista de repositorios -->
                <ul class="list-repositories__ul">
                    <li class="list-repositories__item" ng-repeat="item in itens | filter:{ name: filterRepositories }">
                        <a href="{{item.html_url}}" target="_blank" class="list-repositories__link">
                            <!-- usuario -->
                            <div class="flex">
                                <span class="font-icon icon-user"></span>
                                <p class="list-repositories__text">
                                    {{item.owner.login}}
                                </p>                
                            </div>
                            
                            <!-- projeto -->
                            <div class="flex">
                                <span class="font-icon icon-folder-open"></span>
                                <p class="list-repositories__text">
                                    {{item.name}}
                                </p>                
                            </div>
                            
                            <!-- linguagem -->
                            <div class="flex">
                                <span class="font-icon icon-screen"></span>
                                <p class="list-repositories__text">
                                    {{item.language ? item.language : 'Nenhuma linguagem'}}
                                </p>                
                            </div>
                            
                            <!-- forks -->
                            <div class="flex">
                                <span class="font-icon icon-code-fork"></span>
                                <p class="list-repositories__text">
                                    {{item.forks}}
                                </p>  
                            </div>

                            <!-- stars -->
                            <div class="flex">
                                <span class="font-icon icon-star"></span>
                                <p class="list-repositories__text">
                                    {{item.stargazers_count}}
                                </p>  
                            </div>
                        </a>
                    </li>
                </ul> 
                
                <!-- numero total de repositorios -->
                <div class="list-repositories__total">
                    <span class="list-repositories__total-texto">
                        {{ itens | filter:{ name: filterRepositories } | totalRepositories }}
                    </span>
                </div>
            </main>
        </section>

        <script src="js/min/libs-angular.min.js"></script>
        <script src="js/min/main.min.js"></script>
        <script src="js/min/controllers.min.js"></script>
    </body>
</html>